<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Document</title>
</head>
<body>

<form method="POST">
	<label for="genre">Your favorite music genre:</label>
	<input type="text" id="genre" name="music">
	<br><br>
	<input type="submit">
</form>

</body>
</html>
